# ---> frontend
.next/

# ---> git
.git/

# ---> SVN
.svn/

# ---> DS_Store
.DS_Store

# --->Zend Studio
.metadata/

# ---> phpStorm
.idea/

# ---> vscode
.vscode/

# ---> CodeIgniter
#app_config.php
#config/production/database.php
#config/development/database.php
#config/aliyunoss.php
#config/constants.php
#server/redis.php
run.log
logs/crontab.log

# ---> Lumen
#.env
crontab.log
app/log.txt
app/Libraries/log.txt
